@charset "ISO-8859-1";

.container {
	height: 200px;
	max-width: 100%;
	background-color: black;
	margin-top: 50px;
}

.gamer {
	height: 100px;
	width: 100px;
}

.stremaer {
	height: 100px;
	width: 100px;
}

.workstatio {
	height: 100px;
	width: 100px;
}
