<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>CiberRosario</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/Views/Errors/serverError.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/Views/Errors/authError.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/Views/Errors/errorHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/Views/Errors/errorHandler.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administration</display-name>
    <servlet-name>Administration</servlet-name>
    <servlet-class>servlet.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reserve</display-name>
    <servlet-name>Reserve</servlet-name>
    <servlet-class>servlet.Reserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserve</servlet-name>
    <url-pattern>/reserve/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>servlet.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaDescuentos</display-name>
    <servlet-name>ListaDescuentos</servlet-name>
    <servlet-class>servlet.ListaDescuentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDescuentos</servlet-name>
    <url-pattern>/listdescount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPrecios</display-name>
    <servlet-name>ListaPrecios</servlet-name>
    <servlet-class>servlet.ListaPrecios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPrecios</servlet-name>
    <url-pattern>/listprice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaReservas</display-name>
    <servlet-name>ListaReservas</servlet-name>
    <servlet-class>servlet.ListaReservas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaReservas</servlet-name>
    <url-pattern>/listreserve</url-pattern>
  </servlet-mapping>
</web-app>